# Bài 1: Hoàn thành notebook sau

### Bước  1. Import thư viện cần thiết

In [24]:
import pandas as pd
import io
import requests
import numpy as np

### Bước 2. Đọc dữ data từ url, sau đó gán cho tên biến là dataframe

In [79]:
# source: https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
s=requests.get(url).content
dataframe=pd.read_csv(io.StringIO(s.decode('utf-8')), sep='\t')
print(dataframe)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Bước 3. In 10 dòng đầu tiên

In [9]:
print(dataframe.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Bước 4. Có bao nhiêu row?

In [13]:
dataframe.shape[0]

4622

### Bước 5. Có bao nhiêu column trong dataset này đó là những column nào?

In [19]:
print(dataframe.shape[1])
print(list(dataframe.columns))

5
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Bước 6.Mặt hàng nào được bán chạy nhất?

In [93]:
dataframe.groupby("item_name").sum().idxmax()[0]

'Chicken Bowl'

### Bước 7. Có tổng cộng bao nhiêu mặt hàng được bán?

In [41]:
dataframe.drop_duplicates("item_name").shape[0]

50

### Bước 8. Có bao nhiêu sản phẩm có giá trị lớn hơn $10,00

In [57]:
dataframe["item_price"] = dataframe["item_price"].str[1:].astype(float)
dataframe[dataframe.item_price>10].drop_duplicates("item_name").shape[0]

31

### Bước 9: Xem kiểu dữ liệu của mỗi cột

In [61]:
dataframe.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Bước 10: Tổng lợi nhuận thu được

In [78]:
dataframe["item_price"] = dataframe["item_price"].str[1:].astype(float)
dataframe.eval("quantity * item_price").agg(["sum"])[0]

39237.02